@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "normalize.css";
/* @import "meyer.css"; */

:root {
  font-family: 'Poppins';
  --left-padding: 2%;
  --right-padding: 30%;
  --main-color: rgb(67, 159, 144);
}

html, body {
  height: 100%;
}

.main {
  display: flex;
  height: 100%;
  min-height: 100%;
}

.left-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 25vh;
  padding-bottom: 2vh;
  background: no-repeat url("img/aarn-giri-3lGi0BXJ1W0-unsplash.jpg");
  background-position: center;
  flex: 1;
}

.logo-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.33);
}

.logo-bar p {
  font-size: 4rem;
  color: white;
}

.image-copyright {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 0.5vh;
}

.right-area {
  display: flex;
  flex-direction: column;
  background: white;
  flex: 2;
}

.left-area a {
  color: white;
}

.introduction {
  padding-left: var(--left-padding);
  padding-right: var(--right-padding);
}

.introduction p {
  font-size: 2rem;
}

.forms-container {
  display: flex;
  flex-direction: column;
  padding-left: var(--left-padding);
  padding-right: var(--right-padding);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.forms-body {
  display: flex;
}

.form-left input, .form-right input {
  margin-bottom: 10px;
}

.form-left {
  padding-right: 80px;
}

input {
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.2);
}

input:focus {
  box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

form button {
  margin-left: var(--left-padding);
  background-color: var(--main-color);
  color: white;
  border: 0px;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.closer {
  padding-top: 30px;
  padding-left: var(--left-padding);
  padding-right: var(--right-padding);
}

.closer a {
  font-weight: bold;
  color: var(--main-color);
}

.closer a:link, .closer a:visited, .closer a:active {
  text-decoration: none;
}